body {
  font-family: Arial, sans-serif;
  background: #97D94D;
  padding: 40px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 100px auto; /* Margin atas dan bawah 60px, dan kiri-kanan auto untuk tengah */
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}
.logo-wrapper {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 140px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.room-details {
  display: flex;
  margin-bottom: 20px;
}

.room-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.room-info {
  flex-grow: 1;
}

.room-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fbfbfb;
}

.room-info p {
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: #9a9a9a;
}

.payment-method {
  margin-bottom: 20px;
}

.payment-method p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #4d342f;
}

.payment-method select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.button-group {
  display: flex;
  justify-content: center; /* bisa diganti ke 'space-between' kalau mau penuh */
  gap: 12px;
  margin-top: 20px;
}

.can-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;         /* Warna putih */
  color: #000;                    /* Teks hitam */
  border: 2px solid #000;         /* Border hitam */
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}


.pay-button {
  width: auto;
  padding: 12px 24px;
  background-color: #328300;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.pay-button:hover {
  background-color: #97D94D;
}
.cancel-btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: #fff;         /* Warna putih */
  color: #000;                    /* Teks hitam */
  border: 2px solid #000;         /* Border hitam */
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

