body {
    font-family: Arial, sans-serif;
    background-color: #97D94D;
    padding: 40px;
    text-align: center;
  }
  
  .container {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #3498db;
  }
  
  .icon-sukses img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(5) brightness(50%); /* Alternatif jika ingin warna lebih tepat */
  }
  
  
  .status-pembayaran p {
    font-size: 18px;
    color: #000000; /* Warna hitam */
    font-weight: bold;
  }
  .status-pembayarann p {
    font-size: 18px;
    color: #000000; /* Warna hitam */

  }
  
  #btnKontakPengelola {
    padding: 12px 25px;
    background-color: #328300; /* Warna WhatsApp */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #btnKontakPengelola:hover {
    background-color: #97D94D;
  }
  